* {
    font-family: 'Roboto', sans-serif;
}

main {
    margin: 32px 0 32px 0;
    padding: 12px 0 12px 0;
    background-color: #eee;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title {
    font-size: 2.5rem;
    color: #555;
}

#img-div {
    background-color: white;
    width: 98%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

#image {
    display: block;
    max-width: 100%;
    height: auto;
}

#img-caption {
    color: #555;
}

section {
    max-width: 45%;
    padding: 2rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#tribute-info {
    font-size: 1.2rem;
}

ul>li {
    margin-top: 1.5rem;
    color: #333;
    line-height: 1.8rem;
}

h3 {
    color: #333;
}